<div class="d-flex flex-column justify-content-between h-100">
  <div>
    <%= render(layout: 'entries/entry_name', locals: {entry: entry}) do %>
       <div class="d-flex align-items-center justify-content-between flex-grow-1">
        <h1 class="mb-0"><%= entry.name %></h1>
        <div class="dropdown">
          <button class="btn btn-outline-light border-0 text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to(entry_path(entry), data: {turbo_method: :delete}, class: 'dropdown-item text-danger') do %>
                <i class="bi bi-trash3-fill"></i> Delete Entry
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="mt-5">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="form-floating">
            <%= text_field_tag(:username, entry.username, readonly: true, class: 'form-control-plaintext', placeholder: 'email') %>
            <%= label_tag(:username, "Username", class: 'fw-bold text-dark') %>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-floating">
            <%= text_field_tag(:password, entry.password, readonly: true, class: 'form-control-plaintext', type: :password, placeholder: 'password') %>
            <%= label_tag(:password, "Password", class: 'fw-bold text-dark') %>
          </div>
        </li>
      </ul>
      <div class="flex-grow-1 mt-4 ms-4 ps-1">
        <div class="fw-bold">URL</div>
        <%= link_to(entry.url, target: :_blank, rel: 'noopener noreferrer') do %>
          <%= entry.url %> <i class="bi bi-box-arrow-up-right ms-1"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div>
      Modified at: <%= format_time(entry.updated_at) %>
    </div>
    <div>
      Created at: <%= format_time(entry.created_at) %>
    </div>
  </div>
</div>
