<%= turbo_frame_tag('main-dashboard') do %>
<h4> <%= @entry.name %> </h4>
<div>
  <p><strong>URL:</strong> <%= @entry.url %></p>
    <p><strong>Username:</strong> <%= @entry.username %></p>
    <p><strong>Password:</strong> <%= @entry.password %></p>
</div>
<% end %>