<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Better Pass App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Better Pass App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "shared/navbar" %>
    <div id="flash">
      <%= render(partial: "shared/flash") %>
    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1080;">
      <div
        id="clipboard-toast"
        class="toast align-items-center text-bg-success border-0"
        role="alert"
        aria-live="polite"
        aria-atomic="true"
        data-bs-delay="2000"
      >
        <div class="d-flex">
          <div class="toast-body">
            Copied to clipboard.
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
